.mainpage {
  text-align: center;
}

.mainpage-body {
  background-image: url(../bg1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpage-icons {
  display: grid;
  gap: 10px;
  list-style: none;
  margin: 210px auto;
}

.icons-list {
  background-color: rgb(0 0 0 / 40%);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.icon {
  height: 90px;
  color: white;
  margin: 10px 0;
}

.firstline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-amount {
  font-size: 16px;
  color: white;
  margin: 0;
}

.mainpage-title {
  color: white;
  margin: 4px;
}

.in {
  color: white;
  border: 2px solid white;
  border-radius: 100px;
  padding: 10px 12px;
  margin-top: 6px;
  align-self: flex-end;
}

footer {
  background-color: rgb(50, 50, 50);
  padding: 18px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.characters-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .mainpage-icons {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 220px 220px;
    gap: 8px;
    margin: 165px auto;
  }
}

@media screen and (min-width: 768px) {
  .mainpage-icons {
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 220px 220px;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .mainpage-icons {
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px;
  }
}
